# Run Google Lens
Create image URL: Drag local images into github repo README.md to get the links.

Run API

In [85]:
# Create URL
import re
def extract_urls(string):
    regex = r"https.*png"
    match = re.findall(regex, string)
    return match

In [86]:
def load_txt(path):
    with open(path) as f:
        txt_text = f.read()
    return txt_text

string = load_txt("/Users/launchpad/Downloads/kym/testset/url.txt")
url_list = extract_urls(string)

In [91]:
len(url_list)

93

In [1]:
#url_list

In [126]:
# Run Google Lens API

import requests
#url_list = ['https://user-images.githubusercontent.com/88580416/234807651-f04e7bc5-599b-45db-877b-1e62b258b4b5.png']
URL = "https://serpapi.com/search?engine=google_lens"
def get_google_lens_result(url_list):
    model_lst = []
    for link in url_list:
        params = {
        "engine": "google_lens",
        "url": link,
        "api_key": "INSERT YOUR SERPAPI KEY"
        }
        result = requests.get(url = URL, params = params)
        data = result.json()
        isKeyPresent = 'visual_matches' in data
        if isKeyPresent == True: #it rarely happens, but sometimes the image can't get a visual match
            model = data["visual_matches"][0]['title']
        else:
            model = 'No Visual Matches'
        model_lst += [model]
    return model_lst

In [127]:
import pandas as pd
model_lst = get_google_lens_result(url_list)
model_lst

['Zenith Class Sport El Primero Chronograph Black Dial Hand Wound 02.0500.420',
 'Zenith Defy El Primero 21',
 'Zenith El Primero Cronografo Epervier - automatico - 39 mm',
 'Rainbow Chronograph in Steel on Bracelet with Black Dial and Bezel',
 'Zenith El Primero Chronograph Rainbow for $3,938 for sale from a Private Seller on Chrono24',
 'Zenith El Primero Rainbow 53.0475.400 5663 Zenith El Primero',
 'Zenith Defy El Primero 21 18.9000.9004/71.R585',
 'Zenith Stainless Steel El Primero Chronomaster 2 Watch 42Mm - Black - 42',
 "Zenith Defy El Primero 21 Automatic Men's Titanium Chronograph Watch 95.9000.9004/78.M9000",
 'Zenith El Primero Rainbow',
 'Zenith El Primero (86.0526.4021) - Full set',
 'Zenith Chronomaster El Primero Grande Date Moon Full Open Mens Watch 03.2530.4047/78.C813',
 'Rolex Daytona MK3 16523 series L "Inverted 6" Zenith El primero Cosmograph champagne dial',
 'Zenith Chronomaster El Primero Chronograph Automatic Silver Dial Mens Watch 51.2080.400/69.C494',
 'El Primero',
 'Zenith Chronomaster El Primero Chronomaster 2 - 95.3001.3600/69.C817',
 'Zenith Chronomaster El Primero Grande Date Full Open Moon Phase Mens Watch 51.2530.4047/78.C810',
 'Zenith El Primero Moonphase',
 'Zenith El Primero Moonphase',
 'Zenith Chronomaster Sport Black Dial UNWORN El Primero... for Rp.159,919,837 for sale from a Private Seller on Chrono24',
 'Zenith Chronomaster Sport for Rp.137,144,194 for sale from a Trusted Seller on Chrono24',
 "Zenith Men's 03.2080.4021/21.C496 Chronomaster Open Power Reserve Black Dial Watch",
 'New Zenith Watches & Prices | Chrono24.com',
 "Zenith El Primero Chronomaster Power Reserve Men's Watch 18-2080-4021-01-C494",
 'Zenith El Primero Chronomaster 02.0240.410 White Dial Box Papers TOP Condition',
 'Chronomaster',
 'Zenith El Primero Chronograph Rainbow Automatik Chronograph traumhafter Klassiker Stahl/Gold schner Zustand | Watch Rapport',
 "ZENITH | PILOT DOUBLEMATIC, REF 18.2400.4046 LIMITED EDITION PINK GOLD WORLD TIME CHRONOGRAPH WRISTWATCH WITH ALARM AND DATE CIRCA 2014 | Watches Online | Watches | Sotheby's",
 'Zenith Pilot Doublematic 18.2400.4046/01.c721',
 'IWC - Spitfire Perpetual Calendar Digital Date And Month In Rose Gold - Reference - IW379103',
 'Zenith Defy Classic 41mm Titanium Skeleton Dial Ref-95.9000.670/78.M9000 Box and Papers',
 "Zenith DEFY El Primero 21 Chronograph Automatic Men's Watch 95.9002.9004/78.R590",
 'Zenith Defy El Primero 21 Ref. 95.9000.9004/78.R582, a titanium automatic chronograph wristwatch with power reserve, Mens Watch',
 'Jaeger-LeCoultre Reverso Lady Ladies Cuero | Watch Rapport',
 'No Visual Matches',
 'Jaeger-LeCoultre Reverso Classique - Watch Out',
 'Jaeger-LeCoultre - Reverso Classique - Stainless Steel',
 'Jaeger LeCoultre Reverso Duoface 18k Rose Gold Day & Night Manual Watch 270.2.54',
 'Jaeger-LeCoultre Reverso Classic Q2548440',
 'Jaeger-LeCoultre Reverso-Duoface Watch 396964 | Collector Square',
 "REFERENCE 250.5.86 REVERSO CLASSIQUE A YELLOW GOLD AND STAINLESS STEEL REVERSIBLE WRISTWATCH, CIRCA 1995 | Watches Part II | 2020 | Sotheby's",
 'Jaeger-LeCoultre Reverso Classic Large | Q3828420 | Crown & Caliber - Certified Authentic',
 'Reverso',
 'Reverso',
 'Reverso Tribute Duoface Calendar',
 'Reverso Classic Duetto',
 'Reverso',
 'Jaeger-LeCoultre - Reverso Quartz Classique - Stainless Steel',
 'Monoface Small Seconds',
 'Jaeger-LeCoultre Reverso Grande Taille Theo Fennell Limited edition 20 pieces ever made',
 'Jaeger LeCoultre Reverso Classic Steel Mens Watch',
 'Jaeger-LeCoultre Reverso Duoface Tribute Duoface Handaufzug Q3988482 B&P',
 'Reverso Chronograph Retrograde Jaeger-LeCoultre, "Reverso Chronograph Retrograde," No. 241/500, Ref. 270.2.69.Made in a limited edition of 500 examples in 1996. Very fine and rare, rectangular, double dial, 18K pink gold reversible wristwatch with square button chronograph, retrograde 30-minute register, date, stop/start indication and an 18K pink gold Jaeger- LeCoultre deployant clasp. | Important Collectors Watches, Pocket Watches &amp; Clocks | New York, 11th December 2008',
 'Jaeger Lecoultre Grand Taille Reverso 18k Yellow Gold and - Etsy Finland',
 'Vintage Jaeger LeCoultre Reverso stainless steel watch Hand wind',
 'Jaeger-LeCoultre Reverso Grande Taille 270.8.62',
 'Jaeger Lecoultre Grand Taille Reverso 18k Yellow Gold and - Etsy Finland',
 'Jaeger-LeCoultre Reverso Gran Sport Day Night Diamond Steel Lady Watch 296.8.74',
 'Jaeger-LeCoultre Reverso Classique "Manual-Winding" Ref. 252.8.86',
 'Jaeger Lecoultre Grand Taille Reverso 18k Yellow Gold and - Etsy Finland',
 'Jaeger-LeCoultre Reverso Duoface Tribute Duoface Calendar',
 'Jaeger-LeCoultre reverso duo for $11,103 for sale from a Private Seller on Chrono24',
 'Jaeger-LeCoultre Reverso Duoface Classic Large Duoface Small',
 'Big Bang Integrated Blue Indigo Ceramic 42 mm',
 'Big Bang Integrated Blue Indigo Ceramic 42 mm',
 'Big Bang Integrated Blue Indigo Ceramic 42 mm',
 'Big Bang Integrated Time Only All Black 40 mm',
 'Hublot Classic Fusion Blue',
 'Big Bang Sang Bleu II Black Magic 45 mm',
 'Hublot Big Bang Partnerships Sang Bleu II Black Magic Ceramic 45mm Black Skeleton Dial Rubber Strap 418.CX.1107.RX.MXM22 - BRAND NEW',
 'Hublot Big Bang Meca-10 Black Magic',
 'Hublot Big Bang Unico Ferrari Chronograph Mens Watch',
 'HUBLOT Big Bang Unico Ferrari Speciale world Limited2 50 Mens 171116540',
 'Big Bang Unico GMT King Gold | Hublot | 471.OX.7128.RX',
 'Hublot Big Bang Unico GMT Automatic Titanium Mens Watch 471.NX.7112.RX',
 "Hublot Big Bang White Women's Watch - 341.PL.2010.LR.1907 for sale online | eBay",
 'Hublot BIG BANG UNICO SAPPHIRE 42mm Automatic Box Papers 441.JX.4802.RT',
 'Big Bang Original Gold 41 mm',
 'Big Bang Unico Yellow Gold 42 mm',
 'Big Bang Original Gold 41 mm',
 'Big Bang Original Gold 41 mm',
 'Hublot Big Bang Linen 41mm Midsize Ladies Watch',
 'Hublot Big Bang Evolution Rose Gold Ceramic Carbon Chronograph 44mm',
 'Hublot Big Bang 44 mm Evolution Rose Gold Carbon Dial 44mm',
 'Hublot Big Bang Ferrari Unico 401.CQ.0129.VR | Bezel',
 'Hublot Big Bang Ferrari Unico 401.CQ.0129.VR | Bezel',
 'Hublot Big Bang Ferrari Unico 401.CQ.0129.VR | Bezel',
 "Hublot Big Bang Unico GMT Automatic Men's Watch 471.QX.7127.RX",
 'Hublot Big Bang Unico GMT Carbon Blue Ceramic 45mm Skeleton Dial Rubber Strap 471.QL.7127.RX - BRAND NEW',
 'Hublot Big Bang Meca-10 Blue Ceramic 45mm NEW UNWORN',
 "Hublot 414.ex.5123.rx Big Bang MECA 10 Ceramic Blue Men's Watch",
 'Hublot Big Bang UNICO 42mm 441.nx.1171.rx.1104',
 'Hublot Big Bang Broderie Steel | Chrono24.com']

In [128]:
test_pdf = pd.read_csv("result.csv") # integrated into your result csv file
test_pdf['google_lens'] = model_lst
display(test_pdf.head(3))

,image_name,ground_truth,google_lens
0,zenith_el_primero_1,zenith_el_primero,Zenith Class Sport El Primero Chronograph Blac...
1,zenith_el_primero_2,zenith_el_primero,Zenith Defy El Primero 21
2,zenith_el_primero_3,zenith_el_primero,Zenith El Primero Cronografo Epervier - automa...

# To extract watch models from the "visual match's title"

In [133]:
import re

def check_brands(google_lens):
    regex_01 = r"\s*(Rolex)*\s*.*Daytona"
    regex_02 = r"\s*(Rolex)*\s*.*Submariner"
    regex_03 = r"\s*(Zenith)*\s*.*El\s*.*Primero"
    regex_04 = r"\s*(Jaeger)*\s*.*(Lecoultre)*\s*.*Reverso"
    regex_05 = r"\s*(Hublot)*\s*.*Big\s*.*Bang"

    match_01 = re.search(regex_01, google_lens)
    match_02 = re.search(regex_02, google_lens)
    match_03 = re.search(regex_03, google_lens)
    match_04 = re.search(regex_04, google_lens)
    match_05 = re.search(regex_05, google_lens)
    
    if match_01 != None:
        return 'Rolex Daytona'
    elif match_02 != None:
        return 'Rolex Submariner'
    elif match_03 != None:
        return 'Zenith El Primero'
    elif match_04 != None:
        return 'Jaeger Lecoultre Reverso'
    elif match_05 != None:
        return 'Hublot Big Bang'
    else:
        return 'None'

In [134]:
test_pdf['check'] = test_pdf['google_lens'].apply(lambda x: check_brands(x))

# Generate Experiment Report

In [135]:
test_pdf

,image_name,ground_truth,google_lens,check
0,zenith_el_primero_1,zenith_el_primero,Zenith Class Sport El Primero Chronograph Blac...,Zenith El Primero
1,zenith_el_primero_2,zenith_el_primero,Zenith Defy El Primero 21,Zenith El Primero
2,zenith_el_primero_3,zenith_el_primero,Zenith El Primero Cronografo Epervier - automa...,Zenith El Primero
3,zenith_el_primero_4,zenith_el_primero,Rainbow Chronograph in Steel on Bracelet with ...,None
4,zenith_el_primero_5,zenith_el_primero,"Zenith El Primero Chronograph Rainbow for $3,9...",Zenith El Primero
...,...,...,...,...
88,hublot_big_bang_26,hublot_big_bang,Hublot Big Bang Unico GMT Carbon Blue Ceramic ...,Hublot Big Bang
89,hublot_big_bang_27,hublot_big_bang,Hublot Big Bang Meca-10 Blue Ceramic 45mm NEW ...,Hublot Big Bang
90,hublot_big_bang_28,hublot_big_bang,Hublot 414.ex.5123.rx Big Bang MECA 10 Ceramic...,Hublot Big Bang
91,hublot_big_bang_29,hublot_big_bang,Hublot Big Bang UNICO 42mm 441.nx.1171.rx.1104,Hublot Big Bang
92,hublot_big_bang_30,hublot_big_bang,Hublot Big Bang Broderie Steel | Chrono24.com,Hublot Big Bang

# Do some basic calculation

In [149]:
pdf = pd.read_csv("/Users/launchpad/Downloads/kym/testset/test_results_04272023.csv")
print('Values_counts:\n', pdf['ground_truth'].value_counts(),'\n')
print('Values_counts:\n', pdf['check'].value_counts(),'\n')
accu_pdf = pd.DataFrame({  'watch_model':['Rolex Daytona',
                                          'Rolex Submariner',
                                          'Zenith El Primero',
                                          'Jaeger Lecoultre Reverso',
                                          'Hublot Big Bang'],
                            'images_count': [30, 35, 33, 30, 30],
                            'images_recognized': [30, 34, 23, 26, 28],
                            'images_NOT_recognized': [0, 1, 10, 4, 2],
                            'accuracy':[30/30, 34/35, 23/33, 26/30, 28/30]})
display(accu_pdf)
print('In total, there are {} results Google Lens can NOT recognize'.format(pdf['check'].isnull().sum()))

Values_counts:
 ground_truth
rolex_submariner            35
zenith_el_primero           33
rolex_daytona               30
jaeger_lecoultre_reverso    30
hublot_big_bang             30
Name: count, dtype: int64

Values_counts:
 check
Rolex Submariner            34
Rolex Daytona               30
Hublot Big Bang             28
Jaeger Lecoultre Reverso    26
Zenith El Primero           23
Name: count, dtype: int64

,watch_model,images_count,images_recognized,images_NOT_recognized,accuracy
0,Rolex Daytona,30,30,0,1.000000
1,Rolex Submariner,35,34,1,0.971429
2,Zenith El Primero,33,23,10,0.696970
3,Jaeger Lecoultre Reverso,30,26,4,0.866667
4,Hublot Big Bang,30,28,2,0.933333

In total, there are 17 results Google Lens can NOT recognize

In [ ]:
# image_name_lst = []
# for i in range(0,12):
#     image_name = "rolex_submariner_" + str(i+1)
#     image_name_lst += [image_name]

# ground_truth_lst = []
# for i in range(0,12):
#     truth = "rolex_submariner"
#     ground_truth_lst += [truth]

# pdf = pd.DataFrame({'image_name': image_name_lst,
#                     'ground_truth': ground_truth_lst,
#                     'google_lens': model_lst})